<html>
	<head>
		<tilte> Photo Album </tilte>
		<%= stylesheet_link_tag "album" %>
	</head>
	
	<body>
		2	hogehoge
	</body>
	<table>
		<tr><th class="title">date</th>
		<th><th class="delete">date</th>
	</table>
	<div class="footer">
		miemasuka??
	</div>

		
</html>
